.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.header {
    display: flex;
}

.header_right {
    text-align: right;
    width: 100%;
}

.header_left {
    text-align: left;
}

div.event_list > a {
    color: inherit;
    text-decoration: inherit; /* no underline */
}

.center {
    display: block;
    text-align: center;
  }

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}


/* -------------------- Note that these are temporary until we figure out a style -------------------- */

.back_button {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    border-style: solid;
    border-width: 3px;
    border-color: darkblue;
    border-radius: 10px;
    color: black;
}
.back_button:hover {
    color: white;
    background-color: darkblue;
}

.sort_button {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    border-style: solid;
    border-width: 3px;
    border-color: darkblue;
    border-radius: 10px;
    color: black;
    box-shadow: 2px;
}

.sort_button:hover {
    color: white;
    background-color: darkblue;
    cursor: pointer;
}